footer {
  background: #fefbeb;

  color: #1a1a54;
  padding: 30px;
  text-align: center;
}
.footer-text {
  margin: 5px;
}
.sides {
  margin: 15px auto;
}
.footer-btn {
  background: #ff006b;
  font-family: roboto;
  font-size: small;
  color: #fff;
  /* border-radius: 50px; */
  /* padding: 7px 14px;
  margin: 10px;  */
  margin-top: 10px;
}
.footer-btn:hover {
  background: #e60060;
  font-family: roboto;
  color: #fff;
  /* border-radius: 50px; */
}

.subscribe-input {
  padding: 4px 8px;
  margin: 0 5 5 5;
  background-color: #fff;
  border: 1px solid #1a1a54;
}
.subscribe-input:focus {
  outline-width: 0;
}
i {
  width: 10%;
  height: auto;
  display: inline-block;
  margin-left: 10px;
}
.icons {
  margin: 0 5 20px 5;
}

i {
  width: 15%;
  height: auto;
  font-size: 1.5rem;
}
a i {
  color: #1a1a54;
}
a i:hover {
  color: #ff006b !important;
}
.subscribe-input {
  color: #1a1a54;
}

@media only screen and (min-width: 425px) {
  footer {
    text-align: center;
  }
  .footer-btn {
    background: #ff006b;
    font-family: roboto;
    font-size: small;
    color: #fff;
    border-radius: 0;
    padding: 12px 24px;
    margin: 10px;
  }
  i {
    width: 15%;
    height: auto;
  }
  .icons {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 768px) {
  footer {
    text-align: left;
  }
  input {
    margin-top: 20px;
  }
  .footer-text {
    margin: 20px 0 0 0;
  }
  .footer-btn {
    background: #ff006b;
    font-family: roboto;
    font-size: medium;
    color: #fff;
    /* border-radius: 50px; */
    padding: 15px 30px;
    /* margin-bottom: 20px; */
    margin-top: 10px;
  }
  i {
    width: 15%;
    height: auto;
  }
  .rower {
    width: 100%;
    margin: auto;
  }
  .icons {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-btn {
    background: #ff006b;
    font-family: roboto;
    font-size: x-large;
    color: #fff;
    /* border-radius: 50px; */
    margin-top: 20px;
    padding: 20px 40px;
  }
  i {
    width: 15%;
    height: auto;
    font-size: 3rem;
  }
  .footer-text {
    margin: 40px 0 30px 0;
    font-size: 1.5rem;
  }
  .subscribe-input {
    color: #1a1a54;
    font-size: 1.4rem;
  }
}
